.addNewItem {
	position: absolute;
	bottom: 20px;
	background: #5ca8e0;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	width: 65px;
	height: 65px;
	box-shadow: 0px 4px 15px #333333a1;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
	transition: all 500ms;
}
.addNewItem span {
	color: #fff;
	font-size: 55px;
	line-height: 1.2;
	display: block;
	transition: all 500ms;
}

.addNewItem:hover {
	transform: scale(1.05);
}

.addNewItem:hover span {
	transform: rotate(180deg);
}